header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

#header-left-content {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

#header-logo {
  height: 2rem;
}

#page-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#page-info > h1 {
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 1rem;
}

#page-info > h2 {
  font-size: 0.7rem;
  text-transform: uppercase;
  line-height: 1rem;
}
