@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap");

:root {
  --dark-purple: #200e25;
  --dark-gray: #18141a;
  --purple: #5244a3;
  --purple-light: #4851cc;
  --red: #d85050;
  --red-dark: #c54545;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Wix Madefor Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@media screen and (max-width: 400px) {
  html {
    font-size: 14px;
  }
}

body {
  background-image: radial-gradient(
    circle at 100%,
    var(--dark-purple),
    var(--dark-gray)
  );
}

#root {
  width: calc(100% - 2rem);
  max-width: 1200px;
  margin: auto;
}

.bold {
  font-weight: 600;
}

.dim {
  color: rgba(255, 255, 255, 0.5);
}
